/**

=========================================================
** Custom General styling
=========================================================

**/

html {
}

body {
    font-family: $body-font;
    letter-spacing: rem(-0.5);
}

.main {
    // @apply grid gap-8 sm:gap-16;
}


@layer utilities {

    .card-clip {
 
        clip-path: inset(4px round 40px);
        &:hover {
            clip-path: inset(0px round 44px);
        }
 
    }
 
 }

@layer components {
    .header-nav--menu {
        .active {
            @apply bg-primary-700 text-white lg:text-black lg:bg-white;
        }
    }
}
